#NASAInfo {
  display: inline;
  padding: 50px;
  text-align: center;

  .icon {
    margin-bottom: 20px;
    height: 240px;
  }

  .nasaicon {
    outline: none;
    border: none;
    background: none;
  }
}